extends layout

block content
  h1= title
  
  form(method='post' action='savings-calculator' class='needs-validation' novalidate)

    // Principal
    div(class='row mb-3 justify-content-md-center')
      label(for='inputPrincipal' class='col-form-label col-sm-2') Initial Deposit
      div(class='col-sm-2')
        div(class='input-group has-validation')
          span(class='input-group-text' id='principalPrepend') $
          input(id='inputPrincipal' type="number" name='principal' class='form-control' min='100' max='1000000' step='any' required value=formData.principal ) 
          div(class='invalid-feedback') Initial deposit is required and must be between $100 and $1,000,000 (whole numbers only).
        
    div(class='row mb-3 justify-content-md-center')
      label(for='inputMonthlyDeposit' class='col-form-label col-sm-2') Monthly Deposit
      div(class='col-sm-2')
        div(class='input-group has-validation')
          span(class='input-group-text' id='principalPrepend') $
          input(id='inputMonthlyDeposit' type='number' name='monthlyDeposit' class='form-control' min='0' max='5000' step='any' required value=formData.monthlyDeposit )
          div(class='invalid-feedback') Monthly deposit must be between $0 and $10,000 (whole numbers only).

    // Interest rate
    div(class='row mb-3 justify-content-md-center')
      label(for='inputInterestRate' class='col-form-label col-sm-2') Annual Interest Rate
      div(class='col-sm-2')
        div(class='input-group has-validation')
          input(id='inputInterestRate' type='number' name='interestRate' class='form-control' min='0.1' max='20.0' step='any' value=formData.interestRate required )
          span(class='input-group-text' id='interestRateAppend') %
          div(class='invalid-feedback') Interest rate is required and must be a value between 0.1 and 20.00.


    // Years
    div(class='row mb-3 justify-content-md-center')
      label(for='inputYears' class='col-form-label col-sm-2') Years
      div(class='col-sm-2')
        input(id='inputYears' type='number' name='years' class='form-control' value=formData.years min='1' max='50' step='1' required )
        div(class='invalid-feedback') Years are required and must be a value between 1 and 50.

    div(class='row mb-3 justify-content-md-center')
      div(class='col-sm-4 text-center')
        input(type='submit' class='btn btn-primary m-3' value='Caclulate')
        input(type='reset' class='btn btn-secondary m-3')

  hr

  if results 
    h2 Results

    h3 Savings Summary
    div(class='row mb-3 justify-content-md-center')
      table(class='table table-hover table-sm')
        thead 
          tr 
            th(class='text-center fs-5') Principal 
            th(class='text-center fs-5') Monthly Deposit
            th(class='text-center fs-5') Total Deposits
            th(class='text-center fs-5') Interest Rate
            th(class='text-center fs-5') Years
            th(class='text-center fs-5') Interest Earned
            th(class='text-center fs-5') Ending Balance
        tbody 
          tr 
            td(class='text-center fs-5')= results.summary.principal
            td(class='text-center fs-5')= results.summary.monthlyDeposit
            td(class='text-center fs-5')= results.summary.totalContributions
            td(class='text-center fs-5')= results.summary.interestRate
            td(class='text-center fs-5')= results.summary.years
            td(class='text-center fs-5')= results.summary.interestEarned
            td(class='text-center fs-5')= results.summary.endingBalance

    h3 Yearly Breakdown
    div(class='row mb-3 justify-content-md-center')
    table(class='table table-hover table-sm')
      thead 
        tr 
          th(class='text-center', scope="col") Year 
          th(class='text-end', scope="col") Starting Balance
          th(class='text-end', scope="col") Yearly Contributions
          th(class='text-end', scope="col") Interest Earned
          th(class='text-end', scope="col") Ending Balance
      tbody 
        each item in results.yearlyData
          tr 
            td(class='text-center')= item.year 
            td(class='text-end')= item.startingBalance
            td(class='text-end')= item.yearlyContributions 
            td(class='text-end')= item.interestEarned 
            td(class='text-end')= item.endingBalance

